html, body {
  background: black;
  color: white;
  font-family: verdana, sans-serif;
}

.drop-target {
  position: fixed;
  bottom: 10px;
  width: 100%;
  height: 300px;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 300px;
  vertical-align: middle;
  font-size: 4em;

  span {
    display: none;
    pointer-events: none;
  }

  &.drag-hover {
    background-color: red;

    span {
      display: inline;
    }
  }
}
