@import "parts/sidebar";

html, body {
  background: black;
  color: white;
  font-family: verdana, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
}

#main {
  height: 100%;
}

#game-panel {
  width: calc(100% - 200px);
  canvas {
    width: 100%;
  }
  & > div {
    margin: 5px;
    display: flex;
    position: relative;
  }

  .paused {
    display: none;
  }

  .paused.is-paused {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & > div {
      font-size: 2rem;
      text-align: center;
      height: 100%;
      // TODO vertical align
    }
  }
}

canvas {
  width: 640px;
  height: 480px;
  image-rendering: crisp-edges;
}